<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->


	<style type="text/css">

.paragrapheform{
	padding: 0px;
	margin: 0px;
}

.champform{
	margin: 2px;
	padding: 5px;
}

.arriereplan{
	/*background-color: grey;*/
	margin-top: 70px;
}

.formulaire{
	background-color: white;

}

	</style>

</head>
<body>
<div th:replace="fragment/navbar :: navbarBackend">
</div>
			<div class="container arriereplan">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4 formulaire">
					<div id="aa">
							<form action="/validation_formulaire_video" class="form-group" id="idformvideo" th:object="${video}" method="post">
							
								<h4 id="title">FORMULAIRE VIDEO 
									<span class="glyphicon glyphicon-film"></span>
								</h4>

   									 <div class="form-group">
     									 <label for="nomvideo">Nom :</label>
      									 <input class="form-control" type="text" th:field="*{nomvideo}"  placeholder="Nom de la video"  required/>
   									 </div>

   									   <div class="form-group">
     									 <label for="urlvideo">Url :</label>
      									 <input class="form-control" type="text" th:field="*{urlvideo}"  placeholder="url de la video"  required/>
   									 </div>
   									 
   									 <!-- <div class="form-group">
     									<label for="nomartiste">Lier à un artiste : </label>
										 
										 <select name="nomartiste">
										  <option type="text" value="oui">Oui</option>
										  <option type="text" value="non">Non</option>
										</select>
									 </div> -->
									 
									 <div class="form-group">
     									<label for="nombio">Artiste :</label>
										<select name="idartiste" th:field="*{artiste.idartiste}">
										  <option th:each="art:${listeArtistes}" th:text="${art.nomcompletartiste}" th:value="${art.idartiste}"></option>
										</select>
									  </div>

								<div class="row">
									<div class="col-sm-6">
										<input type="submit" id="idboutonValider" value="valider" class="btn btn-primary" />
									</div>

									<!-- <div class="checkbox col-sm-6">
									      <label><input type="checkbox" name="remember"> Remember me</label>
									 </div> -->
								</div>
							</form>

								<!-- <div class="row">
									<div class="col-sm-6">
										<a href=""> Mot de passe oublié </a>
									</div>

									<div class="checkbox col-sm-6">
									     <a href=""> Retour vers Tooche Finale </a>
									 </div>
								</div> -->
						</div>


				</div>
				<div class="col-sm-4">
					
				</div>
			</div>									
</body>
</html>