<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Modification formulaire video</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->


	<style type="text/css">
		/*body{

	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#aa{
	background-color: #333;
	padding: 30px;
	margin-top: 30px;
	border-radius: 10px;
	opacity: 0.98;
}

#aa label, p, h2{
	color: #fff;
}*/

body{
	/*background-color: grey;*/
}

.paragrapheform{
	padding: 0px;
	margin: 0px;
}

.champform{
	margin: 2px;
	padding: 5px;
}

.arriereplan{
	/*background-color: grey;*/
	margin-top: 70px;
}

.formulaire{
	background-color: white;

}

	</style>

</head>
<body>
<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Touche Finale - Backend</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/artiste">Artiste</a></li>
		      <li><a href="/biographie">Biographie</a></li>
		      <li><a href="/evenement">Evenement</a></li>
		       <li><a href="/lieu">Lieu</a></li>
		      <li><a href="/photo">Photo</a></li>
		       <li><a href="/salle">Salle</a></li>
		      <li class="active"><a href="#">Video</a></li>
		    </ul>
		  </div>
	</nav>
			<div class="container arriereplan">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4 formulaire">
					<div id="aa">


							<form action="/validation_modification_formulaire_video" class="form-group" id="idformmodifvideo" th:object="${video}" method="post">
							
								<h4 id="title">MODIFICATION FORMULAIRE VIDEO 
									<span class="glyphicon glyphicon-film"></span>
								</h4>
								
   									 <div class="form-group">
     									 <label for="idart">Id de l'Artiste :</label>
      									 <input class="form-control" type="number" th:field="*{artiste.idartiste}"/>
   									 </div>
   									 
									 <div class="form-group">
     									 <label for="id">Id :</label>
      									 <input class="form-control" type="number" th:field="*{idvideo}" />
   									 </div>
   									 
   									 <div class="form-group">
     									 <label for="nomvideo">Nom :</label>
      									 <input class="form-control" type="text" th:field="*{nomvideo}"  placeholder="Nom de la video"  required/>
   									 </div>

   									   <div class="form-group">
     									 <label for="urlvideo">Url :</label>
      									 <input class="form-control" type="text" th:field="*{urlvideo}"  placeholder="url de la video"  required/>
      									<!--  <iframe width="560" height="315" th:src="https://www.youtube.com/embed/${video.urlvideo}" 
											frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
											picture-in-picture" allowfullscreen></iframe> -->
   									 </div>

								<div class="row">
									<div class="col-sm-6">
										<input type="submit" id="idboutonValider" value="valider" class="btn btn-primary" />
									</div>

									<!-- <div class="checkbox col-sm-6">
									      <label><input type="checkbox" name="remember"> Remember me</label>
									 </div> -->
								</div>
							</form>
							
								<!-- <div class="row">
									<div class="col-sm-6">
										<a href=""> Mot de passe oublié </a>
									</div>

									<div class="checkbox col-sm-6">
									     <a href=""> Retour vers Tooche Finale </a>
									 </div>
								</div> -->
						</div>


				</div>
				<div class="col-sm-4">
					
				</div>
			</div>									
</body>
</html>