<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->


	<style type="text/css">


body{
	/*background-color: grey;*/
}

.paragrapheform{
	padding: 0px;
	margin: 0px;
}

.champform{
	margin: 2px;
	padding: 5px;
}

.arriereplan{
	/*background-color: grey;*/
	margin-top: 70px;
}

.formulaire{
	background-color: white;

}

	</style>

</head>
<body>
<div th:replace="fragment/navbar :: navbarBackend">
</div>
			<div class="container arriereplan">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4 formulaire">
					<div id="aa">
					
				<!-- 	********************************************************************************* -->
					
					<form action="/salle_suite_validation_formulaire_biographie" class="form-group" id="idformbio" th:object="${biographie}" method="post">
								<h4 id="title">FORMULAIRE BIOGRAPHIE SUITE SALLE</h4>
   									 
   									 <div class="form-group">
     									 <label for="titre">Id de l'artiste:</label>
      									 <input class="form-control"  type="number" name="artiste" th:value=1 />
   									 </div>

   									 
   									  <div class="form-group">
     									 <label for="titre">Id :</label>
      									 <input class="form-control"  type="number" name="idbiographie" th:value="${biographie.idbiographie}" />
   									 </div>
   									 
   									 <div class="form-group">
     									 <label for="titre">Titre :</label>
      									 <input class="form-control" type="text" th:field="*{nombiographie}" placeholder="Titre de la biographie"  required />
   									 </div>

   									  <div class="form-group">
									      <label for="resume">Resume :</label>
									      <textarea class="form-control" rows="10" type="text" th:field="*{descriptionbiographie}" placeholder="Resume de la biographie"></textarea>
									  </div>

   									   <div class="form-group">
     									<label for="nombio">Salle :</label>
										<select name="idsalle" th:field="*{salle.idsalle}">
										  <option th:each="sal:${listeSalles}" th:text="${sal.nomsalle}" th:value="${sal.idsalle}"></option>
										</select>
									  </div>

								<div class="row">
									<div class="col-sm-6">
										<input type="submit" id="idboutonValider" value="valider" class="btn btn-primary" />
									</div>
								</div>
							</form>
					
					<!-- 		*********************************************************************** -->
						</div>
				</div>
				<div class="col-sm-4">
					
				</div>
			</div>
			<!-- -------------------------------------------- -->
	<div th:replace="fragment/footer :: footerFrontAndBack">
	</div>									
</body>
</html>