<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Liste des Biographies</title>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

* {
	font-family: 'Roboto', sans-serif;
}

.xx {
	margin-top: 75px;
}

.aa {
	font-size: 50px;
	text-align: center;
}

.bb {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
</style>
</head>
<body>
<div th:replace="fragment/navbar :: navbarBackend">
</div>

	<div class="container">
		<div class="col-sm-6">
			<h3>LISTE DES BIOGRAPHIES</h3>
			<a href="/formulaire_biographie"> <input type="text"
				value="Nouveau formulaire" class="btn btn-primary" />
			</a> <a href="/afroo_admin_menu"> <input type="text" value="Revenir à l'accueil"
				class="btn btn-primary" />
			</a>
		</div>
		<div class="col-sm-6">
			<form th:action="@{liste_biographie}" method="get">
				<div class="form-group">
					<label>Mot Clé:</label>
					<input type="text" name="motcleRP" th:value="${motcle}" placeholder="Search"/>
					<button type="submit" class="btn btn-default">Chercher</button>
				</div>
			</form>
		</div>
	</div>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>...</th>
					<th>...</th>
					<th>ID</th>
					<th>nom biographie</th>
					<th>description biographie</th>
					<th>Associé à</th>
			</thead>
			<tbody>
				<tr th:each="ldb:${listeDesBiographie}">
					<td><a onclick="return confirm('etes-vous sure?')"
						th:href="@{supprimerbiographie(id=${ldb.idbiographie})}">Supprimer</a>
					</td>
					<td><a th:href="@{editerbiographie(id=${ldb.idbiographie})}">Editer</a>
					</td>
					<td th:text="${ldb.idbiographie}"></td>
					<td th:text="${ldb.nombiographie}"></td>

					<td th:text="${ldb.descriptionbiographie}"></td>
					<td th:unless="${ldb.artiste} == null"><span
						th:text="${ldb.artiste.nomcompletartiste}"></span>
					</td>
					<!-- <td th:unless="${ldb.salle} == null">
						<span  th:text="${ldb.salle.nomsalle}"></span>
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
				<a th:text="${p}" 
				th:href="@{liste_biographie(pageRP=${p}, motcleRP=${motcle})}"></a>
			</li>
		</ul>
	</div>
			<!-- -------------------------------------------- -->
	<div th:replace="fragment/footer :: footerFrontAndBack">
	</div>
</body>
</html>
