<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

			<!-- part II Biographie -->

					<div class="box" th:fragment="afe_part2_biographie">
								<div>
									<h2><span class="titreAlaffiche" th:object="${artistefrontend}" th:text="${artistefrontend.nomcompletartiste}"> | MAITRE GIMS |</span></h2>
								</div>
							
							<div class="textRecommandation" th:object="${artistefrontend}" th:each="lpb:${artistefrontend.biographies}">
									<h4 th:text="${lpb.descriptionbiographie}">
										
									</h4>		
							</div>
						</div>

</html>