<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<!-- part III video youtube -->

	<div th:fragment="afe_part3_videoyoutube">		
		<div class="container" style="margin-top: 35px;">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
						<div th:fragment="afe_part3_videoyoutube">		
							<div class="col-sm-12 embed-responsive embed-responsive-16by9" th:object="${artistefrontend}" th:each="lpb:${artistefrontend.videos}">
								<iframe class="embed-responsive-item" width="720" height="405" th:src="@{https://www.youtube.com/embed/{url} (url=${lpb.urlvideo})}" 
									frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
									picture-in-picture" allowfullscreen>
								</iframe>
							</div>		
						</div>
			</div>
			<div class="col-sm-2"></div>
	</div>		
	</div>

</body>
</html>