<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->


	<style type="text/css">

.paragrapheform{
	padding: 0px;
	margin: 0px;
}

.champform{
	margin: 2px;
	padding: 5px;
}

.arriereplan{
	/*background-color: grey;*/
	margin-top: 70px;
}

.formulaire{
	background-color: white;

}

	</style>

</head>
<body>
<div th:replace="fragment/navbar :: navbarBackend">
</div>
			<div class="container arriereplan">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4 formulaire">
					<div id="aa">


							<form action="/update_photo" class="form-group" id="idformphotomodif" th:object="${photo}" method="post" enctype="multipart/form-data">
							
								<h4 id="title">MODIFICATION FORMULAIRE PHOTO</h4>
									
									<div class="form-group">
     									 <label for="id">Id de l'Artiste :</label>
      									 <input class="form-control" type="number" th:field="*{artiste.idartiste}"/>
   									 </div>
   									 
   									 <div class="form-group">
     									 <label for="id">Id de la salle :</label>
      									 <input class="form-control" type="number" th:field="*{salle.idsalle}"/>
   									 </div>
									
   									 <div class="form-group">
     									 <label for="id">Id :</label>
      									 <input class="form-control" type="number" th:field="*{idphoto}"/>
   									 </div>
   									 
   									 <div class="form-group">
     									 <label for="nom">Nom :</label>
      									 <input class="form-control" type="text" th:field="*{nomphoto}" placeholder="nom de la photo"/>
   									 </div>

   									  <div class="form-group">
									      <label for="comment">Charger votre image :</label>
									      <input type="file" accept=".png, .jpg, .jpeg" name ="photoimagemodif"/>
									      <img th:src="@{getphotoimage(id=${photo.idphoto})}"  width="200" height="100"/>
									  </div>
  

								<div class="row">
									<div class="col-sm-6">
										<input type="submit" id="idboutonValider" value="valider" class="btn btn-primary" />
									</div>

									<!-- <div class="checkbox col-sm-6">
									      <label><input type="checkbox" name="remember"> Remember me</label>
									 </div> -->
								</div>
							</form>
								<!-- <div class="row">
									<div class="col-sm-6">
										<a href=""> Mot de passe oublié </a>
									</div>

									<div class="checkbox col-sm-6">
									     <a href=""> Retour vers Tooche Finale </a>
									 </div>
								</div> -->
						</div>


				</div>
				<div class="col-sm-4">
					
				</div>
			</div>									
</body>
</html>