<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	

	<style type="text/css">
		body{		
				background-size: cover;
				background-position: center center;
				background-attachment: fixed;
			}

		#aa{	
			margin-top: 70px;	
		}

		.boutonBleu{
			margin: 0px;
			padding: 0px;
		}

		.cadreBouttonBleu{
			margin: 0px;
			padding: 0px;
		}
	</style>

</head>
<body>
<div th:replace="fragment/navbar :: navbarBackend">
</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">					
					</div>
					<div class="col-sm-6">
						<div id="aa">
							<h3>Votre formulaire d'image a bien été ajouté</h3>
						</div>
					</div>
					<div class="col-sm-3">
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="row">
					<div class="col-sm-3">					
					</div>
					<div class="col-sm-6 cadreBouttonBleu">
						<div class="col-sm-6 boutonBleu">	
							<a href="/formulaire_photo"><input type="text" id="idboutonValider" value="nouveau formulaire photo" class="btn btn-primary" /></a>				
						</div>
						<div class="col-sm-6 boutonBleu">	
							<a href="/liste_photo"><input type="text" id="idboutonValider" value="voir la liste des images" class="btn btn-primary" /></a>				
						</div>
						
					</div>
					
					<div class="col-sm-3">					
					</div>
				</div>
				
			</div>	
			<!-- -------------------------------------------- -->
	<div th:replace="fragment/footer :: footerFrontAndBack">
	</div>								
</body>
</html>