<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		
		<style>
		.footer {
		      position: fixed;
			   left: 0;
			   bottom: 0;
			   width: 100%;
			   background-color: red;
			   color: white;
			   text-align: center;
		}
		</style>

	</head>
	<body>
		<div th:fragment="footerFrontAndBack"  class="col-sm-12" style="background-color:white; text-align:initial; margin-top:100px;">
			<div class="col-sm-3">
				<div class="col-sm-12">
					<h2> TOOCHE FINALE </h2>
				</div>
			</div>
			<div class="footer col-sm-6">
				
				<div class="col-sm-12">
					<h5> RETROUVEZ TOUTES LES DATES DE SPECTACLES DE VOS ARTISTES AFRICAINS </h5>
				</div>
				<div class="col-sm-12">
					<h5>  Mentions Légales | Contactez nous : +216 55 539 377 - toochefinale@gmail.com </h5>
				</div>
				<div class="col-sm-12">
					<h5> &copy; 2020 touchefinale.com - Tous droits réservés </h5>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="float:right; margin-top:14px;">
  					<a href="https://www.facebook.com/toochefinale4/" target="_blank"> 
						<img th:src="@{/tofs_artistes/xfacebook.png}"/>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>