<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->
	

	<!-- <style type="text/css"> -->
	<style type="text/css">
				.paragrapheform{
				padding: 0px;
				margin: 0px;
			}
			
			.champform{
				margin: 2px;
				padding: 5px;
			}
			
			.arriereplan{
				/*background-color: grey;*/
				margin-top: 40px;
			}
			
			.formulaire{
				background-color: white;
			
			}
			
			.title{
				text-align: center;
			}
			
			.AA{
				margin: 0p;
				padding: 0px;
			}
			
			.BB{
				margin: 0px;
				padding: 0px;
				float: right;
			}
	</style>
</head>

<body>
<div th:replace="fragment/navbar :: navbarBackend">
</div>
			<div class="container arriereplan">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<h4 class="title">
						<span class="glyphicon glyphicon-music"></span> 
						MODIFICATION FORMULAIRE ARTISTE CHANTEUR 
						<span class="glyphicon glyphicon-music"></span></h4>
				</div>
				<div class="col-sm-2"></div>
			</div>

			<div class="container arriereplan">
				<div class="col-sm-12">
					<form action="/mise_a_jour_artiste" class="form-group" id="idform" th:object="${artiste}" method="post">
							<div class="col-sm-12">
								<div class="col-sm-6">
									 <div class="form-group">
     									 <label for="id">Id :</label>
      									 <input class="form-control" type="number" th:field="*{idartiste}" placeholder="id de l'artiste" required/>
   									 </div>
   									 
   									 <div class="form-group">
     									 <label for="nom">Nom :</label>
      									 <input class="form-control" type="text" th:field="*{nomcompletartiste}" placeholder="nom de l'artiste ou du groupe" maxlength="100" required/>
   									 </div>

   									 <div class="form-group">
     									 <label for="origine">Origine :</label>
      									 <input type="text" class="form-control" placeholder="nationalite" th:field="*{origineartiste}">
   									 </div>

   									  <div class="form-group">
     									 <label for="date">Date de naissance :</label>
      									 <input type="date" class="form-control" th:field="*{datenaissanceartiste}">
   									 </div>	
   									 
   									 <div class="form-group">
     									<label for="nomartpers">Nombre de personnes :</label>
										<select name="nbredepersonneartiste" th:field="*{nbredepersonneartiste}">
										  <option	value="single">Single</option>
										   <option	value="groupe">Groupe</option>									    
										</select>
									  </div>
   									 
   									 <div class="form-group">
     									<label for="nombio">Sexe :</label>
										<select name="sexeartiste" th:field="*{sexeartiste}">
										  <option	value="feminin">Feminin</option>
										   <option	value="masculin">Masculin</option>
										    <option	value="feminin et masculin">Feminin & Masculin</option>
										</select>
									  </div>
									  
								</div>

								<div class="col-sm-6">
   									
									<div class="form-group">
   									 	<label for="id">ID-biographie : </label>
   									 	<a href="/liste_biographie" target="_blank" class="AA"> 
											<input type="text" value="voir la liste" class="btn btn-primary BB" />
										</a>
      									<input type="text" class="form-control" th:field="*{biographies}"
      									placeholder="id de la biographie">
   									</div>
   									 
   									<div class="form-group">
   									 	<label for="id">ID-photo : </label>
   									 	<a href="/liste_photo" target="_blank" class="AA"> 
											<input type="text" value="voir la liste" class="btn btn-primary BB" />
										</a>
      									<input type="text" class="form-control" th:field="*{photos}" placeholder="id de la photo">
   									</div>
   									 
   									<div class="form-group">
   									 	<label for="id">ID-video : </label>
   									 	<a href="/liste_videos" target="_blank" class="AA"> 
											<input type="text" value="voir la liste" class="btn btn-primary BB" />
										</a>
      									<input type="text" class="form-control" th:field="*{videos}"
      									placeholder="id de la video">
   									</div>
   									 
   									<div class="form-group">
   									 	<label for="id">ID-evenement : </label>
   									 	<a href="/liste_evenement" target="_blank" class="AA"> 
											<input type="text" value="voir la liste" class="btn btn-primary BB" />
										</a>
      									<input type="text" class="form-control" th:field="*{evenements}"
      									placeholder="id de l'evenement">
   									</div>
									
								</div>
								 <input type="submit" id="idboutonValider" value="valider" class="btn btn-success" />
							</div>
									
					</form>
				</div>
			</div>	
			<!-- -------------------------------------------- -->
	<div th:replace="fragment/footer :: footerFrontAndBack">
	</div>								
</body>
</html>