<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Modification formulaire evenement</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->


	<style type="text/css">
		

body{
	/*background-color: grey;*/
}

.paragrapheform{
	padding: 0px;
	margin: 0px;
}

.champform{
	margin: 2px;
	padding: 5px;
}

.arriereplan{
	/*background-color: grey;*/
	margin-top: 20px;
}

.formulaire{
	background-color: white;

}

.form{
	margin-top: 25px;
}

#title, #idboutonValider{
	text-align: center;
}

	</style>

</head>
<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Touche Finale - Backend</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/liste_artistes">Artiste</a></li>
		      <li><a href="/liste_biographie">Biographie</a></li>
		      <li class="active"><a href="#">Evenement</a></li>
		       <li><a href="/liste_lieu">Lieu</a></li>
		      <li><a href="/liste_photo">Photo</a></li>
		       <li><a href="/liste_salle">Salle</a></li>
		      <li><a href="/liste_videos">Video</a></li>
		    </ul>
		  </div>
		</nav>
			<div class="container arriereplan">
				<div class="col-md-12" th:each="ldv:${evenement.artiste.videos}">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h2 id="title">CONCERT</h2>
					<iframe width="720" height="405" th:src="@{https://www.youtube.com/embed/{url} (url=${ldv.urlvideo})}" 
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
						picture-in-picture" allowfullscreen></iframe>
					</div>

					<div class="col-md-2"></div>
				</div>

      
				<div class="col-md-12 form">
							<form action="" class="form-group" id="idformbio" th:object="${evenement}" method="post">
								
								<!-- --------------------------------------------------------------- -->
								<div class="col-md-4">
   									 
   									 
   									  <div class="thumbnail" th:each="lph:${evenement.artiste.photos}">
     									 <img th:src="@{getphotoimage(id=${lph.idphoto})}" />
   									 </div>
   									
   									 <div class="form-group">
     									 <label for="titre">nom artiste</label>
      									 <input class="form-control" type="text" th:field="*{artiste.nomcompletartiste}" placeholder="dj Arafat"  required/>
   									 </div>
   									 
   									  <!-- <div class="form-group">
									      <label for="resume">Né(e) le </label>
									      <textarea class="form-control" rows="5" th:field="*{infoevenement}" maxlength="250" placeholder="exemple : avec singuila/hiro/mhd" ></textarea>
									    </div> -->
   									 
   									 <div class="form-group">
     									 
      									 Né(e) le <input class="form-control" type="text" th:field="*{artiste.datenaissanceartiste}" placeholder="25/12/1989"  />
   									 </div>

				                     <div class="form-group">
				                       
				                         de nationalité (ou origine) <input class="form-control" type="text" th:field="*{artiste.origineartiste}" placeholder="ivoirienne"  />
				                     </div>
				                     <div class="form-group" th:each="lpb:${evenement.artiste.biographies}">
				                        <label for="resume"> </label>
				                        <textarea class="form-control" rows="10" th:text="${lpb.descriptionbiographie}" maxlength="450" placeholder="biographie de l'artiste" ></textarea>
				                      </div>
   							</div>
<!-- ----------------------------------------------------------------------------- -->
   							<div class="col-md-4">
   									 <div class="form-group">
     									 <label for="titre">Evenement prevu le </label>
      									 <input class="form-control" type="text" th:field="*{datedebutevenement}" placeholder="10/10/2020" required/>
   									 </div>
   									 
   									 <div class="form-group">
     									 <label for="titre">à </label>
      									 <input class="form-control" type="text" th:field="*{heureevenement}" pattern="[0-9]{1,2}[h][0-9]{0,2}" placeholder="exemple : 09h00 ou 9h00 ou 9h"  required/>
   									 </div>	 

                      <div class="form-group">
                       <label for="titre"> </label>
                         <input class="form-control" type="text" th:field="*{salle.lieu.continentlieu}"  placeholder="Afrique"  required/>
                     </div>

                      <div class="form-group">
                       <label for="titre"> </label>
                         <input class="form-control" type="text" th:field="*{salle.lieu.payslieu}"  placeholder="Côte d'Ivoire"  required/>
                     </div>

                      <div class="form-group">
                       <label for="titre"> </label>
                         <input class="form-control" type="text" th:field="*{salle.lieu.villelieu}"  placeholder="Abidjan"  required/>
                     </div>
						
						<div class="form-group">
				              <label for="resume"> </label>
				               <textarea class="form-control" rows="5" th:field="*{infoevenement}" maxlength="450" placeholder=" + d'infos sur l'evenement" ></textarea>
				         </div>
                 </div>     
   								
<!-- ------------------------------------------------------------------------------- -->
   				<div class="col-md-4">
                    <div class="form-group">
                       <label for="titre"> </label>
                         <input class="form-control" type="text" th:field="*{salle.nomsalle}"  placeholder="Palais de la culture"  required/>
                    </div>
                    
                      <div class="thumbnail" th:each="lpx:${evenement.salle.photos}">
     						<img th:src="@{getphotoimage(id=${lpx.idphoto})}" />
   					  </div>
                </div>
		</form>
				</div>		
					<!-- 		*********************************************************************** -->
				
			</div>			
			
									
</body>
</html>