<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T648C3B');</script>
<!-- End Google Tag Manager -->

<title>Tooche Finale - Concerts, One Man Show, One Woman Show</title>
<meta charset="UTF-8">
<meta name="description" content="Retrouvez toutes les dates de spectacles de vos artistes africains préférés">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="menuprincipaldecoration.css" />


<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

* {
	font-family: 'Roboto', sans-serif;
}

.TitreEvenement {
	padding: 0px;
	margin: 5px;
}

a {
	text-decoration: none;
	color: white;
}

a:link {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

body {
	background-color: #2E2E2E;
}

.xx {
	margin-bottom: 10px;
}

.thumbnail {
	padding: 0px;
	margin: 0px;
}

.btnDanger {
	margin: 0px;
}

.titreCadre {
	text-align: center;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

.grandCadre, .largeCadreAlaffiche {
	margin-top: 100px;
}

.alaffiche {
	color: white;
	padding: 0px;
	margin: 0px;
}

.box:hover {
	transform: translateY(3px);
}

.imgBox:hover {
	opacity: 0.5;
	transition: 0.5s;
	transform: translateY(3px);
}

.box {
	overflow: hidden;
}

.textRecommandation {
	color: white;
	text-transform: uppercase;
}

.cadre {
	/*border:grey solid 1px;*/
	margin-top: 5px;
	/* padding: 0px; */
}

.menuFixe {
	margin-top: 1.5px;
	padding: 0px;
}

h3, h6 {
	color: white;
}

h5 {
	padding: 0px;
}

.pticadre {
	background-color: #131111;
	/*margin: 1px;
	padding: 1px;*/
	margin-top: 5px;
}

.trimestre {
	padding: 0px;
}

.agenda {
	padding: 0px;
	color: white;
	margin-top: 2px;
}

.titreAlaffiche {
	color: #7C6A19;
	text-transform: uppercase;
	margin: 1px;
	padding: 2px;
}

.prochainEvenement {
	padding: 0px;
	/*background-color:;*/
	color: #7C6A19;
	margin-top: 2px;
}

.divTADLA {
	/* padding: 1px; */
	/* margin: 0px; */
	
}

.TitreAgenda, .TitreEvenement {
	color: white;
	padding: 0px;
}

.TitreAgenda {
	text-transform: uppercase;
}

.dateEtLieuAgenda {
	color: grey;
	padding: 0px;
	margin: 0px;
}

.dateEtLieuPE {
	/*color: grey;*/
	padding: 0px;
	margin: 0px;
}

.TitreProchainEvenement {
	padding: 3px;
	margin: 0px;
	text-transform: uppercase;
}

.imgProchainEvenement {
	padding: 0px;
	margin: 0px;
}

.timePE {
	color: grey;
	padding: 0px;
	margin: 10px;
}

.timePEAL {
	padding: 0px;
	margin: 0px;
	color: graytext;
	/* color: #E20102; */
	text-transform: lowercase;
}

.idh1 {
	/*position: center;*/
	/*text-align: center;*/
	text-align: center;
	margin: 25% 25% 25% 25%;
	/*margin-top: 21.5%;*/
	/*margin-left: 25%;*/
	position: absolute;
	z-index: 2;
	background-color: black;
	color: white;
	font-size: 50px;
	/*-webkit-filter: sepia(100%);  Safari 6.0 - 9.0 
  	filter: sepia(100%);
*/
	font-family: 'Roboto', sans-serif;
	opacity: 0.8;
	border-radius: 5px;
	padding: 0px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);;
}

.idh2 {
	-webkit-filter: sepia(100%);
	Safari
	6.0
	-
	9.0
	filter
	:
	sepia(
	100%
	);
}

h1 {
	padding: 0px;
	margin: 0px;
}

img {
	/* -webkit-filter: sepia(100%);  Safari 6.0 - 9.0 
  filter: sepia(100%);*/
	padding: 0px;
	margin: 0px;
}

.row {
	padding: 0px;
	margin: 0px;
}

#phydel00 {
	
}

#phydel01, #phydel02 {
	margin: 0px;
	padding: 0 0;
}

#phydel011, #phydel012, #phydel013, #phydel014, #phydel015, #phydel016 {
	padding: 0px;
}

#phydel0111, #phydel0112, #phydel0113, #phydel0114, #phydel0115,
	#phydel0116 {
	margin: 0 0;
}

.upper {
	text-transform: uppercase;
}
</style>
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T648C3B"
height="0" width="0" style="display:none;visibility:hidden">
	</iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


	<div class="menuFixe col-md-12 col-sm-6"
		th:replace="fragment/navbarFrontEnd :: navbarFrontEnd">
	</div>
	
	
	<div class="container">
		<div class="col-sm-2"></div>
		<div class="col-sm-8" style="margin-top: 80px;">
				<div class="thumbnail">
					<img th:src="@{/tofs_artistes/banniere_tooche_finale.jpg}" />
				</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	
	
	<div class="container" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-12">
				<h2 class="alaffiche">A L'AFFICHE</h2>
				<hr>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-3" >
				<div class="box">
					
						<div class="thumbnail imgBox">
							<img
								th:src="@{getphotoimage(id=${listeProchainEvenementEnAfriqueAA[0].artiste.photos[listeProchainEvenementEnAfriqueAA[0].artiste.photos.size()-1].idphoto})}"
								th:onerror="'this.src=\'' + @{/tofs_artistes/logoTF.jpg} + '\';'"
								class="imgAlaffiche">
						</div>
					
					<div class="textRecommandation">

						<h5 class="titreAlaffiche1"
							th:text="${'__${listeProchainEvenementEnAfriqueAA[0].artiste.nomcompletartiste}__' + ' en ' + '__${listeProchainEvenementEnAfriqueAA[0].nomevenement}__'}">
							MAITRE GIMS EN CONCERT FUEGO TOUR A ABIDJAN </h5>
						<h5
							th:text="${listeProchainEvenementEnAfriqueAA[0].salle.lieu.payslieu}"
							class="titreAlaffiche">
							<span>COTE D'IVOIRE </span>
						</h5>

						<a th:href="@{evenements(id=${listeProchainEvenementEnAfriqueAA[0].idevenement})}" class="btn btn-warning xx">Plus d'infos</a>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="box">
					
						<div class="thumbnail imgBox">
							<img
								th:src="@{getphotoimage(id=${listeProchainEvenementEnEuropeEE[0].artiste.photos[listeProchainEvenementEnEuropeEE[0].artiste.photos.size()-1].idphoto})}"
								src="tofs_artistes/logoTF.jpg" class="imgAlaffiche">
						</div>
					
					<div class="textRecommandation">
						<!-- <h5>
							DOBET GNAHORE EN CONCERT A ABIDJAN | <span class="titreAlaffiche">COTE
								D'IVOIRE</span>
						</h5> -->
						<h5 class="titreAlaffiche1"
							th:text="${'__${listeProchainEvenementEnEuropeEE[0].artiste.nomcompletartiste}__' + ' en ' + '__${listeProchainEvenementEnEuropeEE[0].nomevenement}__'}">
							MAITRE GIMS EN CONCERT FUEGO TOUR A ABIDJAN |</h5>
						<h5
							th:text="${listeProchainEvenementEnEuropeEE[0].salle.lieu.payslieu}"
							class="titreAlaffiche">
							<span>COTE D'IVOIRE</span>
						</h5>

						 <a th:href="@{evenements(id=${listeProchainEvenementEnEuropeEE[0].idevenement})}" class="btn btn-warning xx">Plus d'infos</a>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="box">
					
						<div class="thumbnail imgBox">
							<img
								th:src="@{getphotoimage(id=${listeProchainEvenementEnEuropeEE[1].artiste.photos[listeProchainEvenementEnEuropeEE[1].artiste.photos.size()-1].idphoto})}"
								src="tofs_artistes/logoTF.jpg" class="imgAlaffiche">
						</div>
				
					<div class="textRecommandation">
						<!-- <h5>
							DOBET GNAHORE EN CONCERT A ABIDJAN | <span class="titreAlaffiche">COTE
								D'IVOIRE</span>
						</h5> -->

						<h5 class="titreAlaffiche1"
							th:text="${'__${listeProchainEvenementEnEuropeEE[1].artiste.nomcompletartiste}__' + ' en ' + '__${listeProchainEvenementEnEuropeEE[1].nomevenement}__'}">
							MAITRE GIMS EN CONCERT FUEGO TOUR A ABIDJAN |</h5>
						<h5
							th:text="${listeProchainEvenementEnEuropeEE[1].salle.lieu.payslieu}"
							class="titreAlaffiche">
							<span>COTE D'IVOIRE</span>
						</h5>
						<a th:href="@{evenements(id=${listeProchainEvenementEnEuropeEE[1].idevenement})}" class="btn btn-warning xx">Plus d'infos</a>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				
					<div class="box">
						
							<div class="thumbnail imgBox">
								<img
									th:src="@{getphotoimage(id=${listeProchainEvenementEnAmeriqueAM[0].artiste.photos[listeProchainEvenementEnAmeriqueAM[0].artiste.photos.size()-1].idphoto})}"
									src="tofs_artistes/logoTF.jpg" class="imgAlaffiche">
							</div>
					
						<div class="textRecommandation">
							<!-- <h5>
								DOBET GNAHORE EN CONCERT A ABIDJAN | <span class="titreAlaffiche">COTE
									D'IVOIRE</span>
							</h5>
							 -->
							<h5 class="titreAlaffiche1"
								th:text="${'__${listeProchainEvenementEnAmeriqueAM[0].artiste.nomcompletartiste}__' + ' en ' + '__${listeProchainEvenementEnAmeriqueAM[0].nomevenement}__'}">
								MAITRE GIMS EN CONCERT FUEGO TOUR A ABIDJAN |</h5>
							<h5
								th:text="${listeProchainEvenementEnAmeriqueAM[0].salle.lieu.payslieu}"
								class="titreAlaffiche">
								<span>COTE D'IVOIRE</span>
							</h5>
							<a th:href="@{evenements(id=${listeProchainEvenementEnAmeriqueAM[0].idevenement})}" class="btn btn-warning xx">Plus d'infos</a>
						</div>
					</div>
				
			</div>

		</div>

	</div>



	<div class="container">
			<div class="col-sm-2"></div>
			<div class="col-sm-8" style="margin-top: 65px;">
						<div th:fragment="afe_part3_videoyoutube" class="playlistArtiste">		
							<div class="col-sm-12 embed-responsive embed-responsive-16by9" th:each="lpb:${listeVideox[0]}">
								<iframe class="embed-responsive-item" width="720" height="405" 
								th:src="@{https://www.youtube.com/embed/{url} (url=${lpb.urlvideo})}" 
									frameborder="0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; 
									picture-in-picture" allowfullscreen>
								</iframe>
							</div>		
						</div>
			</div>
			<div class="col-sm-2"></div>
	</div>
	<!-- ----------------------------------------------------------- -->

	<div class="container grandCadre">

		<!-- ----------- CADRE SIDE BAR GAUCHE AFRIQUE ----------- -->

		<div class="col-md-3 col-sm-12 col-xs-12 pticadre">
			<div class="col-md-12 agenda">
				<span class="glyphicon glyphicon-calendar"></span> AGENDA AFRIQUE
			</div>
			<div class="col-md-12 trimestre">
				<h5>2020 | 2021</h5>
				<hr>
			</div>

			<div class="divTADLA">
				<div th:each="lpb, iter:${listeProchainEvenementEnAfriqueAA}"
					th:if="${iter.index &gt; 3 and iter.index &lt; 10}">
					<div class="col-md-12 col-sm-6 col-xs-12">
						<a th:href="@{evenements(id=${lpb.idevenement})}">
							<div class="col-md-12 TitreAgenda" th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__'}">AYA
								NAKAMURA en concert</div>
						</a>
						<div class="col-md-6 col-sm-6 dateEtLieuAgenda">
							<h5
								th:text="${'__${#dates.format(lpb.datedebutevenement, 'MMM-yyyy')}__' + ' | ' + '__${lpb.salle.lieu.payslieu}__'}">20/03/2019
								| Congo-Brazzaville</h5>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- ----------- CADRE DU MILIEU AFRIQUE ----------- -->

		<div class="col-md-6 col-sm-12 col-xs-12 cadre">
			<div class="col-md-12">
				<div class="thumbnail"
					th:each="lpb:${listeEvenementSurleContinentAfricain[0].artiste.photos[listeEvenementSurleContinentAfricain[0].artiste.photos.size()-1]}">
					<a th:href="@{evenements(id=${listeEvenementSurleContinentAfricain[0].idevenement})}"> 
					<img th:src="@{getphotoimage(id=${lpb.idphoto})}" src="imagesIndex/Kerozen-DJ.jpg">
					</a>

				</div>
			</div>
			<div class="col-md-12 btnDanger">
				<div class="col-md-4">
					<input type="button" name="buttonAfrique" value="AFRIQUE"
						class="btn btn-danger ">
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>

			</div>
			<div class="col-md-12 titreCadre"
				th:each="lpb:${listeEvenementSurleContinentAfricain[0]}">
				<a th:href="@{evenements(id=${lpb.idevenement})}">
					<h3
						th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__' + ' - ' + '__${lpb.salle.lieu.payslieu}__'}">KEROZEN
						DJ en concert - Cote d'Ivoire</h3>
				</a>
			</div>
			<!-- --------------------- -->
			<div class="col-md-12">
				<div class="col-md-4 col-sm-4 col-xs-6"
					th:each="lpb, iter:${listeEvenementSurleContinentAfricain}"
					th:if="${iter.index &gt; 0 and iter.index &lt; 4 }">
					<div></div>
					<a th:href="@{evenements(id=${lpb.idevenement})}">
						<div class="thumbnail">
							<img
								th:src="@{getphotoimage(id=${lpb.artiste.photos[lpb.artiste.photos.size()-1].idphoto})}"
								src="imagesIndex/Kerozen-DJ.jpg">
						</div>
						<h6 class="upper"
							th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__' + ' - ' + '__${lpb.salle.lieu.payslieu}__'}">KEROZEN
							
							DJ en concert - Cote d'Ivoire</h6>
					</a>
				</div>
			</div>
		</div>

		<!-- --------------- CADRE SIDE BAR DROITE ---------------- -->
		<div class="col-md-3 col-sm-12 col-xs-12 pticadre">
			<div class="col-md-12 prochainEvenement">
				<span class="glyphicon glyphicon-time"></span> PROCHAIN
				EVENEMENT
				<hr>
			</div>

			<div class="col-md-12 col-sm-6 col-xs-12 divTADLA"
				th:each="lxx, iter:${listeProchainEvenementEnAfriqueAA}">
				<div th:if="${iter.index < 4 }">
					<div class="col-md-12 TitreEvenement">
						<div class="col-md-8 TitreProchainEvenement">
							<a th:href="@{evenements(id=${lxx.idevenement})}">
								<div class="col-md-12 TitreProchainEvenement"
									th:text="${'__${lxx.artiste.nomcompletartiste}__' + ' en ' + '__${lxx.nomevenement}__'}">
									SALIF KEITA EN CONCERT</div>
							</a>
							<div class="col-md-12 timePEAL"
								th:text="${#dates.format(lxx.datedebutevenement, 'dd-MMM-yyyy')}">
							</div>
						</div>
						<div class="col-md-4 imgProchainEvenement">
							<div class="thumbnail" th:each="lpx:${lxx.artiste.photos[lxx.artiste.photos.size()-1]}">

								<a th:href="@{evenements(id=${lxx.idevenement})}"> <img
									th:src="@{getphotoimage(id=${lpx.idphoto})}"
									src="imagesIndex/SalifKeita.jpg">
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 dateEtLieuPE">
						<h6 class="timePE" th:text="${lxx.salle.lieu.payslieu}">
							Congo-Brazzaville |</h6>
						<hr>
					</div>
				</div>

				<!-- ------------------------------------------------------ -->
			</div>
		</div>
		<!-- -----------------FIN SIDE BAR DROITE-------------------------- -->
	</div>

	<div class="container grandCadre">

		<!-- ----------- CADRE SIDE BAR GAUCHE EUROPE ----------- -->

		<div class="col-md-3 col-sm-12 col-xs-12 pticadre">
			<div class="col-md-12 agenda">
				<span class="glyphicon glyphicon-calendar"></span> AGENDA EUROPE
			</div>
			<div class="col-md-12 trimestre">
				<h5>2020 | 2021</h5>
				<hr>
			</div>

			<div class="divTADLA">
				<div th:each="lpb, iter:${listeProchainEvenementEnEuropeEE}"
					th:if="${iter.index &gt; 3 and iter.index &lt; 10}">
					<div class="col-md-12 col-sm-6 col-xs-12">
						<a th:href="@{evenements(id=${lpb.idevenement})}">
							<div class="col-md-12 TitreAgenda"
								th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__'}">AYA
								NAKAMURA en concert</div>
						</a>
						<div class="col-md-12 dateEtLieuAgenda">
							<h5
								th:text="${'__${#dates.format(lpb.datedebutevenement, 'MMM-yyyy')}__' + ' | ' + '__${lpb.salle.lieu.payslieu}__'}">20/03/2019
								| Congo-Brazzaville</h5>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- ----------- CADRE MILIEU EUROPE ----------- -->

		<div class="col-md-6 col-sm-12 col-xs-12 cadre">
			<div class="col-md-12">
				<div class="thumbnail"
					th:each="lpb:${listeEvenementSurleContinentEuropeen[0].artiste.photos[listeEvenementSurleContinentEuropeen[0].artiste.photos.size()-1]}">
					<a th:href="@{evenements(id=${listeEvenementSurleContinentEuropeen[0].idevenement})}"> <img
						th:src="@{getphotoimage(id=${lpb.idphoto})}"
						src="imagesIndex/Kerozen-DJ.jpg">
					</a>
				</div>
			</div>
			<div class="col-md-12 btnDanger">
				<div class="col-md-4">
					<input type="button" name="buttonAfrique" value="EUROPE"
						class="btn btn-primary ">
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>

			</div>
			<div class="col-md-12 titreCadre"
				th:each="lpb:${listeEvenementSurleContinentEuropeen[0]}">
				<a th:href="@{evenements(id=${lpb.idevenement})}">
					<h3
						th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__' + ' - ' + '__${lpb.salle.lieu.payslieu}__'}">KEROZEN
						DJ en concert - Cote d'Ivoire</h3>
				</a>
			</div>
			<!-- --------------------- -->
			<div class="col-md-12">
				<!-- --------------------- -->

				<div class="col-md-4 col-sm-4 col-xs-6"
					th:each="lpb, iter:${listeEvenementSurleContinentEuropeen}"
					th:if="${iter.index &gt; 0 and iter.index &lt; 4 }">
					<a th:href="@{evenements(id=${lpb.idevenement})}">
						<div class="thumbnail">
							<img
								th:src="@{getphotoimage(id=${lpb.artiste.photos[lpb.artiste.photos.size()-1].idphoto})}"
								src="imagesIndex/Kerozen-DJ.jpg">
						</div>
						<h6 class="upper"
							th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__' + ' - ' + '__${lpb.salle.lieu.payslieu}__'}">KEROZEN
							DJ en concert - Cote d'Ivoire</h6>
					</a>
				</div>

				<!-- --------------------- -->
			</div>
		</div>

		<!-- ----------- CADRE SIDE BAR DROITE EUROPE ----------- -->

		<div class="col-md-3 col-sm-12 col-xs-12 pticadre">

			<div class="col-md-12 prochainEvenement">
				<span class="glyphicon glyphicon-time"></span> PROCHAIN
				EVENEMENT
				<hr>
			</div>

			<div class="col-md-12 col-sm-6 col-xs-12 divTADLA"
				th:each="lxx, iter:${listeProchainEvenementEnEuropeEE}">
				<div th:if="${iter.index < 4 }">
					<div class="col-md-12 TitreEvenement">
						<div class="col-md-8 TitreProchainEvenement">

							<a th:href="@{evenements(id=${lxx.idevenement})}">
								<div class="col-md-12 TitreProchainEvenement"
									th:text="${'__${lxx.artiste.nomcompletartiste}__' + ' en ' + '__${lxx.nomevenement}__'}">
									SALIF KEITA EN CONCERT</div>
							</a>

							<div class="col-md-12 timePEAL"
								th:text="${#dates.format(lxx.datedebutevenement, 'dd-MMM-yyyy')}">
							</div>
						</div>
						<div class="col-md-4 imgProchainEvenement">
							<div class="thumbnail" th:each="lpx:${lxx.artiste.photos[lxx.artiste.photos.size()-1]}">

								<a th:href="@{evenements(id=${lxx.idevenement})}"> <img
									th:src="@{getphotoimage(id=${lpx.idphoto})}"
									src="imagesIndex/SalifKeita.jpg">
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 dateEtLieuPE">
						<h6 class="timePE" th:text="${lxx.salle.lieu.payslieu}">
							Congo-Brazzaville |</h6>
						<hr>
					</div>
				</div>

				<!-- ------------------------------------------------------ -->
			</div>
		</div>
	</div>



	<div class="container grandCadre">
		<!-- ----------- CADRE SIDE BAR GAUCHE AMERIQUE & RESTE DU MONDE ----------- -->
		<div class="col-md-3 col-sm-12 col-xs-12 pticadre">
			<div class="col-md-12 agenda">
				<span class="glyphicon glyphicon-calendar"></span> AGENDA AMERIQUE |
				ASIE | RESTE DU MONDE
			</div>
			<div class="col-md-12 trimestre">
				<h5>2020 | 2021</h5>
				<hr>
			</div>

			<!-- ----------------------------------------------------- -->
			<div class="divTADLA">
				<div th:each="lpb, iter:${listeProchainEvenementEnAmeriqueAM}"
					th:if="${iter.index &gt; 3 and iter.index &lt; 10}">
					<div class="col-md-12 col-sm-6 col-xs-12">
						<a th:href="@{evenements(id=${lpb.idevenement})}">
							<div class="col-md-12 TitreAgenda"
								th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__'}">AYA
								NAKAMURA en concert</div>
						</a>
						<div class="col-md-12 dateEtLieuAgenda">
							<h5
								th:text="${'__${#dates.format(lpb.datedebutevenement, 'MMM-yyyy')}__' + ' | ' + '__${lpb.salle.lieu.payslieu}__'}">20/03/2019
								| Congo-Brazzaville</h5>
							<hr>
						</div>
					</div>
				</div>
			</div>

			<!-- ------------------------------------------------------ -->
		</div>

		<!-- ----------- CADRE MILIEU AMERIQUE & RESTE DU MONDE----------- -->
		<div class="col-md-6 col-sm-12 col-xs-12 cadre">
			<div class="col-md-12">
				<div class="thumbnail"
					th:each="lpb:${listeEvenementSurleContinentAmericain[0].artiste.photos[listeEvenementSurleContinentAmericain[0].artiste.photos.size()-1]}">
					<a th:href="@{evenements(id=${listeEvenementSurleContinentAmericain[0].idevenement})}"> <img
						th:src="@{getphotoimage(id=${lpb.idphoto})}"
						src="imagesIndex/Kerozen-DJ.jpg">
					</a>

				</div>
			</div>
			<div class="col-md-12 btnDanger">
				<div class="col-md-4">
					<input type="button" name="buttonAfrique"
						value="AMERIQUE & RESTE DU MONDE" class="btn btn-success ">
				</div>
			</div>
			<div class="col-md-12 titreCadre"
				th:each="lpb:${listeEvenementSurleContinentAmericain[0]}">

				<a th:href="@{evenements(id=${lpb.idevenement})}">
					<h3
						th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__' + ' - ' + '__${lpb.salle.lieu.payslieu}__'}">KEROZEN
						DJ en concert - Cote d'Ivoire</h3>
				</a>

			</div>
			<!-- --------------------- -->
			<div class="col-md-12">
				<!-- --------------------- -->
				<div class="col-md-4 col-sm-4 col-xs-6"
					th:each="lpb, iter:${listeEvenementSurleContinentAmericain}"
					th:if="${iter.index &gt; 0 and iter.index &lt; 4 }">
					<div class="thumbnail">
						<a th:href="@{evenements(id=${lpb.idevenement})}"> <img
							th:src="@{getphotoimage(id=${lpb.artiste.photos[lpb.artiste.photos.size()-1].idphoto})}"
							src="imagesIndex/Kerozen-DJ.jpg">
						</a>
					</div>
					<a th:href="@{evenements(id=${lpb.idevenement})}">
						<h6 class="upper"
							th:text="${'__${lpb.artiste.nomcompletartiste}__' + ' en ' + '__${lpb.nomevenement}__' + ' - ' + '__${lpb.salle.lieu.payslieu}__'}">KEROZEN
							DJ en concert - Cote d'Ivoire</h6>
					</a>
				</div>
				<!-- --------------------- -->

			</div>
		</div>

		<!-- ----------- CADRE SIDE BAR DROITE AMERIQUE & RESTE DU MONDE----------- -->

		<div class="col-md-3 col-sm-12 col-xs-12 pticadre">

			<div class="col-md-12 prochainEvenement">
				<span class="glyphicon glyphicon-time"></span> PROCHAIN
				EVENEMENT
				<hr>
			</div>

			<div class="col-md-12 col-sm-6 col-xs-12 divTADLA"
				th:each="lxx,iter: ${listeProchainEvenementEnAmeriqueAM}">
				<div th:if="${iter.index < 4 }">
					<div class="col-md-12 TitreEvenement">
						<div class="col-md-8 TitreProchainEvenement">

							<a th:href="@{evenements(id=${lxx.idevenement})}">
								<div class="col-md-12 TitreProchainEvenement"
									th:text="${'__${lxx.artiste.nomcompletartiste}__' + ' en ' + '__${lxx.nomevenement}__'}">
									SALIF KEITA EN CONCERT</div>
							</a>

							<div class="col-md-12 timePEAL"
								th:text="${#dates.format(lxx.datedebutevenement, 'dd-MMM-yyyy')}">
							</div>
						</div>
						<div class="col-md-4 imgProchainEvenement">
							<div class="thumbnail" th:each="lpx:${lxx.artiste.photos[lxx.artiste.photos.size()-1]}">
								<a th:href="@{evenements(id=${lxx.idevenement})}"> <img
									th:src="@{getphotoimage(id=${lpx.idphoto})}"
									src="imagesIndex/SalifKeita.jpg">
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 dateEtLieuPE">
						<h6 class="timePE" th:text="${lxx.salle.lieu.payslieu}">
							Congo-Brazzaville |</h6>
						<hr>
					</div>
				</div>
			</div>

			<!-- ------------------------------------------------------ -->

		</div>
	</div>
	<div th:replace="fragment/footer :: footerFrontAndBack">

</div>

</body>
</html>