<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>artiste presentation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	
<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Roboto:500');
	*{
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #2E2E2E;
}

.thumbnail{
	padding: 0px;
	margin: 0px;
}
.btnDanger{
	margin: 0px;
}
.titreCadre{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.grandCadre, .largeCadreAlaffiche{
	margin-top: 100px;
}

.alaffiche{
	color:white;
	padding: 0px;
	margin: 0px;
}


.box{
	overflow: hidden;
}

.textRecommandation{
	color: white;
	text-decoration: none;
}


.menuFixe{
	margin-top: 1.5px;
	padding: 0px;
}

h3, h6{
	color: white;
}

h5{
	padding: 0px;
}

.pticadre{
	background-color: #131111;
}

.agenda{
	padding: 0px;
	color: white;
	margin-top: 2px;
	
}

.titreAlaffiche{
	color:  #7C6A19;
}

.prochainEvenement{
	padding: 0px;
	color:  #7C6A19;
	margin-top: 2px;
}

.divTADLA{
	padding: 0px;
	margin: 0px;
}

h1{
	padding: 0px;
	margin: 0px;
}


.row{
	padding: 0px;
	margin: 0px;
}


.titreTextRecommandation{
	font-weight: bold;
}

a{text-decoration: none;
	color: white;
}

a:hover{
text-decoration: none;
color:white;}

a:link{
text-decoration:none;
color: white;}
	
	
</style>
	
</head>
<body>

	<div class="menuFixe col-md-12 col-sm-6" th:replace="fragment/navbarFrontEnd :: navbarFrontEnd">
	</div>

	<div class="container largeCadreAlaffiche">
	
	
	
	<!-- --------------------------- A ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">A</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeA}" th:each="lpb:${listeA}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
  <!-- --------------------------- B ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">B</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeB}" th:each="lpb:${listeB}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- C ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">C</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeC}" th:each="lpb:${listeC}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- D ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">D</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeD}" th:each="lpb:${listeD}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- E ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">E</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeE}" th:each="lpb:${listeE}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- F ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">F</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeF}" th:each="lpb:${listeF}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- G ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">G</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeG}" th:each="lpb:${listeG}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- H ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">H</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeH}" th:each="lpb:${listeH}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- I ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">I</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeI}" th:each="lpb:${listeI}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- J ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">J</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeJ}" th:each="lpb:${listeJ}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    <!-- --------------------------- K ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">K</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeK}" th:each="lpb:${listeK}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- L ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">L</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeL}" th:each="lpb:${listeL}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- M ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">M</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeM}" th:each="lpb:${listeM}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- N ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">N</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeN}" th:each="lpb:${listeN}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- O ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">O</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeO}" th:each="lpb:${listeO}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- P ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">P</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeP}" th:each="lpb:${listeP}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- Q ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">Q</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeQ}" th:each="lpb:${listeQ}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- R ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">R</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeR}" th:each="lpb:${listeR}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- S ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">S</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeS}" th:each="lpb:${listeS}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- T ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">T</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeT}" th:each="lpb:${listeT}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- U ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">U</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeU}" th:each="lpb:${listeU}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- V ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">V</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeV}" th:each="lpb:${listeV}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- W ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">W</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeW}" th:each="lpb:${listeW}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
        <!-- --------------------------- X ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">X</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeX}" th:each="lpb:${listeX}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
           <!-- --------------------------- Y ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">Y</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeY}" th:each="lpb:${listeY}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
           <!-- --------------------------- Z ------------------------ -->
    <div class="row">
      <h5 class="textRecommandation">Z</h5>
      <hr>
      <div class="row">
	        <div class="col-md-1" th:object="${listeZ}" th:each="lpb:${listeZ}">
	         <a th:href="@{artistes(id=${lpb.idartiste})}">
	            <h5 class="textRecommandation" th:text="${lpb.nomcompletartiste}">Maitre Gims</h5>
	          </a>
	        </div>  
      </div>
      <hr>
    </div>
    
    
    
    
</div>

<div th:replace="fragment/footer :: footerFrontAndBack">
</div>
</body>
</html>